#{# layout.html #}
#{# Import the layout of the theme. #}
{% extends "!layout.html" %}
{% extends "!layout.html" %}

{% block rootrellink %}
    <li><a href="https://dernorberto.github.io/">dernorberto recipes</a> &raquo;</li>
    {{ super() }}
{% endblock %}


{%- if meta is mapping %}
    {{ meta.get("title") }}
{%- endif %}

{% block footer %}
{{ meta.get("title") }}
{% endblock %}

{%- set my-variable = '' %}
{%- set my-variable_key = 'my-variable' %}
{%- if meta is defined %}
    {%- if my-variable_key in meta.viewkeys() %}
        {%- set my-variable = meta.get(my-variable_key) %}
    {%- endif %}
{%- endif %}




